body {
    background-color:#181818;
}

button {
    width:75px;
    height:45px;
    border: solid black 1px;
    margin:3px;
    margin-top:0px;
    position:relative;
    background-color:#FFF;
}

.start {
    background-color:#6F6;
}

.stop {
    background-color:#F66;
}

.section {
    background-color:#222;
    margin-bottom:5px;
    border: solid black 1px;
}

.sec_head {
    color:#BBB;
    background-color:#333;
    font-size:18px;
    margin-bottom:3px;
}

#shots {
}